<div class="container">
  <div class="cards-group-section">
    <h1 class="color-title">ХИТЫ ПРОДАЖ</h1>
    <div class="row button-group" *ngIf="SmallScreen()">
<!--      <button mat-raised-button color="accent" (click)="isOpenFilterDialog = true"><mat-icon>filter_list</mat-icon>Фильтры</button>-->
      <button mat-raised-button color="accent" [matMenuTriggerFor]="sort_item"><mat-icon>sort</mat-icon>Сортировка</button>
      <mat-menu #sort_item="matMenu">
        <button mat-menu-item>Все товары</button>
        <button mat-menu-item>Сначала недорогие</button>
        <button mat-menu-item>Сначала дорогие</button>
        <button mat-menu-item>АКЦИЯ</button>
        <button mat-menu-item>ХИТ</button>
      </mat-menu>
    </div>
    <div class="row">
<!--      <div class="list-group col-2 left-menu" *ngIf="!SmallScreen()">-->
<!--        <mat-accordion>-->
<!--          <mat-expansion-panel hideToggle>-->
<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title>Цена</mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <div class="row">-->
<!--              <mat-form-field class="col" appearance="fill">-->
<!--                <mat-label>От</mat-label>-->
<!--                <input matInput [(ngModel)]="priceFrom" [ngModelOptions]="{standalone: true}">-->
<!--              </mat-form-field>-->
<!--              <span class="col">&#45;&#45;</span>-->
<!--              <mat-form-field class="col" appearance="fill">-->
<!--                <mat-label>До</mat-label>-->
<!--                <input matInput [(ngModel)]="priceTo" [ngModelOptions]="{standalone: true}">-->
<!--              </mat-form-field>-->
<!--            </div>-->
<!--          </mat-expansion-panel>-->
<!--        </mat-accordion>-->
<!--        <mat-accordion>-->
<!--          <mat-expansion-panel hideToggle>-->
<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title>Состав букета</mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <div class="col">-->
<!--              <mat-checkbox>Розы</mat-checkbox>-->
<!--              <mat-checkbox>Лилии</mat-checkbox>-->
<!--              <mat-checkbox>Тюльпаны</mat-checkbox>-->
<!--              <mat-checkbox>Хризантемы</mat-checkbox>-->
<!--            </div>-->
<!--          </mat-expansion-panel>-->
<!--        </mat-accordion>-->
<!--        <mat-accordion>-->
<!--          <mat-expansion-panel hideToggle>-->
<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title>Для кого</mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <div class="col">-->
<!--              <mat-checkbox>Коллеге</mat-checkbox>-->
<!--              <mat-checkbox>Маме</mat-checkbox>-->
<!--              <mat-checkbox>Подруге</mat-checkbox>-->
<!--            </div>-->
<!--          </mat-expansion-panel>-->
<!--        </mat-accordion>-->
<!--        <mat-accordion>-->
<!--          <mat-expansion-panel hideToggle>-->
<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title>По цвету</mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <div class="col">-->
<!--              <mat-checkbox>Синии</mat-checkbox>-->
<!--              <mat-checkbox>Красные</mat-checkbox>-->
<!--              <mat-checkbox>Разноцветные</mat-checkbox>-->
<!--            </div>-->
<!--          </mat-expansion-panel>-->
<!--        </mat-accordion>-->
<!--        <mat-accordion>-->
<!--          <mat-expansion-panel hideToggle>-->
<!--            <mat-expansion-panel-header>-->
<!--              <mat-panel-title>Размер букета</mat-panel-title>-->
<!--            </mat-expansion-panel-header>-->
<!--            <div class="col">-->
<!--              <mat-checkbox>Маленький</mat-checkbox>-->
<!--              <mat-checkbox>Стандарт</mat-checkbox>-->
<!--              <mat-checkbox>Большой</mat-checkbox>-->
<!--            </div>-->
<!--          </mat-expansion-panel>-->
<!--        </mat-accordion>-->
<!--      </div>-->
      <div class="col px-4">
        <div class="spinner-inner" *ngIf="isLoading"><mat-spinner diameter="50" class="spinner" color="accent"></mat-spinner></div>
        <div class="row cards-group-container" [ngStyle]="SmallScreen() ? {'justify-content' : 'center'} : {}">
          <app-information-card *ngFor="let item of all_products; let index;" [informationCard]="item"></app-information-card>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="filter-menu" *ngIf="isOpenFilterDialog">
  <div class="container">
    <div class="navbar">
      <div class="navbar-item"><h1 class="title">Фильтры</h1></div>
      <div class="navbar-item">
        <button mat-icon-button *ngIf="SmallScreen()" (click)="isOpenFilterDialog = false">
          <mat-icon>clear</mat-icon>
        </button>
      </div>
    </div>
    <div class="list-group col left-menu">
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Цена</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row">
            <mat-form-field class="col" appearance="fill">
              <mat-label>От</mat-label>
              <input matInput [(ngModel)]="priceFrom" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
            <span class="col">--</span>
            <mat-form-field class="col" appearance="fill">
              <mat-label>До</mat-label>
              <input matInput [(ngModel)]="priceTo" [ngModelOptions]="{standalone: true}">
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Состав букета</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col">
            <mat-checkbox class="row">Розы</mat-checkbox>
            <mat-checkbox class="row">Лилии</mat-checkbox>
            <mat-checkbox class="row">Тюльпаны</mat-checkbox>
            <mat-checkbox class="row">Хризантемы</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Для кого</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col">
            <mat-checkbox class="row">Коллеге</mat-checkbox>
            <mat-checkbox class="row">Маме</mat-checkbox>
            <mat-checkbox class="row">Подруге</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>По цвету</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col">
            <mat-checkbox class="row">Синии</mat-checkbox>
            <mat-checkbox class="row">Красные</mat-checkbox>
            <mat-checkbox class="row">Разноцветные</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-accordion>
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>Размер букета</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="col">
            <mat-checkbox class="row">Маленький</mat-checkbox>
            <mat-checkbox class="row">Стандарт</mat-checkbox>
            <mat-checkbox class="row">Большой</mat-checkbox>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
