@import "../../styles";
@import "../../colors";
@import "../../accordion";

.cards-group{
  margin-top: 20px;
}

.color-title{
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.vertical-menu {
  width: 100px !important; /* Set a width if you like */
}

.exit-icon{
  background:
    url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fclipground.com%2Fimages%2Fexit-button-icon-png-9.png&f=1&nofb=1");
  background-size: cover;
  width: 50px;
  height: 50px;
}

.left-menu{
  mat-accordion{
    margin: 5px;
    width: 190px;
  }
}

.button-group{
  justify-content: center;
  height: 50px;
  button{
    margin: 5px;
  }
  margin-bottom: 10px;
}

.filter-menu {
  .navbar{
    box-shadow: gray;
    background-color: white;
    img{
      width: 50px;
      height: 50px;
    }
  }
  .exit-button-container{
    justify-content: right;
  }
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* сдвигаем (прячем) панель относительно левого края страницы */
  /* плавный переход смещения панели */
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  /* определяем цвет фона панели */
  background: ghostwhite;
  /* поверх других элементов */
  z-index: 100;
}

@include small-display{
  .left-menu{
    mat-accordion{
      margin: 5px;
      width: 100%;
    }
  }
}
