@import "../../styles";
@import "../../colors";
@import "../../accordion";

.cards-group{
  margin-top: 20px;
}

.color-title{
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.accordion {
  margin: 20px;
}

.left-menu{
  mat-accordion{
    margin: 5px;
    width: 190px;
  }
}

.button-group{
  display: flex;
  justify-content: center;
  height: 50px;
  button{
    margin: 5px;
  }
  margin-bottom: 10px;
}

.filter-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* сдвигаем (прячем) панель относительно левого края страницы */
  /* плавный переход смещения панели */
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  transition: left 0.3s;
  /* определяем цвет фона панели */
  background: ghostwhite;
  /* поверх других элементов */
  z-index: 102;

  .navbar{
    display: flex;
    justify-content: space-between;
    box-shadow: gray;
  }
  .exit-button-container{
    justify-content: right;
  }
}

@include small-display{
  .left-menu{
    mat-accordion{
      margin: 5px;
      width: 100%;
    }
  }
}
