
.about-us-component {
  img{
    background-size: cover;
  }
}

.main-title {
  margin: 10px;
  text-align: center;
  font-style: italic;
  font-weight: 600;
}

.color-title {
  margin: 10px;
  font-weight: 600;
}

.img-about-us{
  width: 363px;
  height: 363px;
  margin: 0 auto;
}

.description{
  font-size: 18px;
}
