<div class="navbar-padding-top" *ngIf="SmallScreen()"></div>
<mat-toolbar class="custom-navbar start-navbar">
  <button mat-icon-button (click)="isOpenMenu = !isOpenMenu; updateMenuSetting()" *ngIf="SmallScreen()">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-icon-button *ngIf="SmallScreen()">
    <mat-icon>phone</mat-icon>
  </button>
  <div class="logo">
    <img src="../../assets/logo-min.jpg" alt="" routerLink="">
  </div>
  <button mat-icon-button color="warn" *ngIf="SmallScreen()">
    <mat-icon>favorite_border</mat-icon>
  </button>
  <button mat-icon-button *ngIf="SmallScreen()">
    <mat-icon>shopping_cart</mat-icon>
  </button>
  <div class="row content-group-right" *ngIf="!MiddleScreen()">
    <div class="col-ml px-5 div-right">
      <div class="row">
        <mat-icon aria-hidden="false" class="navbar-icon">search</mat-icon>
        <h3 class="px-1">Адрес</h3>
      </div>
<!--      <input class="form-control mr-1 edit-input" *ngIf="isEdit" [(ngModel)]="address" placeholder="Адрес">-->
      <span>{{address}}</span>
    </div>
    <div class="col-ml px-5 div-right" *ngIf="!SmallScreen()">
      <div class="row">
        <mat-icon aria-hidden="false" class="navbar-icon">telephone</mat-icon>
        <h3 class="px-1">Телефон</h3>
      </div>
<!--      <input class="form-control mr-1 edit-input" *ngIf="isEdit" [(ngModel)]="telephone" placeholder="Телефон">-->
      <span>{{telephone}}</span>
    </div>
    <div class="col-ml px-5 div-right" *ngIf="!SmallScreen()">
      <div class="row">
        <mat-icon aria-hidden="false" class="navbar-icon">schedule</mat-icon>
        <h3 class="px-1">Прием заказов {{timeWork}}</h3>
      </div>
<!--      <input class="form-control mr-1 edit-input" *ngIf="isEdit" [(ngModel)]="timeWork" placeholder="Часы работы">-->
      <span>Доставка с 8 до 21</span>
    </div>
  </div>
</mat-toolbar>
<mat-toolbar color="accent" class="custom-navbar end-navbar">
  <div class="div-center" [class.mat-toolbar-row]="!SmallScreen()" style="width: 100%">
    <p class="main-title" style="text-align: center">Краткое описание</p>
  </div>
</mat-toolbar>
<div class="left-menu" *ngIf="isOpenMenu && SmallScreen()">
  <div class="main">
    <div class="navbar-padding-top" *ngIf="SmallScreen()"></div>
      <span class="accordion-trigger" [routerLink]="''">Пионы</span>
      <span class="accordion-trigger" [routerLink]="''">Акции</span>
      <span class="accordion-trigger" [routerLink]="''">Цветы до 2000р.</span>
      <span class="accordion-trigger" [routerLink]="''">Эко-букеты</span>
      <span class="accordion-trigger" [routerLink]="''">Пионы</span>
      <span class="accordion-trigger" [routerLink]="''">Розы</span>
      <ul class="accordion">
        <li class="accordion-item">
          <input type="checkbox" class="accordion-toggle" name="accordion-02" id="toggle2" hidden>
          <label class="accordion-trigger" for="toggle2">
            <div class="title-container">
              <span class="title">Букеты...</span>
            </div>
          </label>
          <div class="accordion-container">
            <span class="accordion-trigger" [routerLink]="''">Сборные букеты</span>
            <span class="accordion-trigger" [routerLink]="''">Премиум букеты</span>
            <span class="accordion-trigger" [routerLink]="''">Монобукеты</span>
          </div>
        </li>
      </ul>
      <ul class="accordion">
        <li class="accordion-item">
          <input type="checkbox" class="accordion-toggle" name="accordion-02" id="toggle3" hidden>
          <label class="accordion-trigger" for="toggle3">Воздушные шарики...</label>
          <div class="accordion-container">
            <span class="accordion-trigger" [routerLink]="''">Название шарика</span>
            <span class="accordion-trigger" [routerLink]="''">Название шарика</span>
            <span class="accordion-trigger" [routerLink]="''">Название шарика</span>
          </div>
        </li>
      </ul>
      <span class="accordion-trigger" [routerLink]="'about-us'" (click)="isOpenMenu = false; updateMenuSetting()">О нас</span>
      <span class="accordion-trigger" [routerLink]="''">Доставка</span>
      <span class="accordion-trigger" [routerLink]="''">{{telephone}}</span>
  </div>
  <div class="background" (click)="isOpenMenu = false; updateMenuSetting()" (mousewheel)="isOpenMenu = false"></div>
</div>
