@import "../../styles";
@import "../../colors";
@import "../../accordion";

.custom-navbar{
  .logo{
    margin: 20px;
    img{
      height: 150px;
      cursor: pointer;
    }
  }

  .mat-raised-button{
    margin-right: 5px !important;
    margin-left: 5px !important;
  }
}

.navbar-buttons-group{
  button{
    text-align: center !important;
  }
}

.start-navbar{
  height: 150px;
  background-color: white;
}

.main-title{
  font-weight: 800;
}

.color-title{
  font-size: 22px;
}

.end-navbar{
  box-shadow: 0 1px 5px rgba(0,0,0,.2);
  box-sizing: border-box;
  background-color: $accent-color !important;
  outline: 0;
}

.content-group-right{
  margin-left: auto;
}

.navbar-icon{
  font-size: 28px;
}

@include middle-display{
  .main-title{
    font-size: 20px;
  }

  .color-title{
    font-size: 18px;
  }
}

.flying-button{
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  margin: 20px;
}

.left-menu{
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  .main{
    overflow: scroll;
    width: 80%;
    height: 100%;
    background-color: white;

    .exit-icon{
      margin: 20px;

      button{
        background-color: white !important;
      }
    }
  }

  .background{
    position: fixed;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: rgba(44, 39, 39, 0.64);
  }
}

.accordion-trigger.black-top-border {
  border-top: $black-accent-color solid 1px !important;
}

.accordion-trigger.accordion-trigger-phone {
  padding: 10px;

  .menu-phone-icon {
    margin-left: 10px;
    margin-right: 5px;
  }

  .col{
    .row:first-of-type {
      margin-bottom: 5px;
    }
  }
}

.navbar-padding-top {
  height: 70px;
}

@include small-display{


  mat-toolbar{
    padding: 0 !important;
  }

  .start-navbar{
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 102;
    height: 70px;
    overflow: hidden;
    align-items: center;
    width: 100%;
    padding: 0 16px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);

    .logo{
      margin: 0 auto !important;

      img{
        width: auto;
        height: 100px;
        margin: 0 auto;
      }
    }
  }

  .end-navbar{
    height: 60px;
  }
}
