@import "../../styles";
@import "../../colors";

ngb-carousel {
  .carousel-caption{
    background-color: white;
    justify-content: left;
    height: 200px;
    width: 300px;
    padding: 10px;

    h4{
      color: $black-accent-color;
      text-align: left;
      font-size: 23px;
    }
    p{
      text-align: left;
      font-size: 20px;
      color: $accent-color;
    }
  }
  img{
    width: 100%;
  }
}

.main{

}

@include small-display {
  ngb-carousel {
    img{
      height: 190px;
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size: inherit; /* Resize the background image to cover the entire container */
    }

    .picsum-img-wrapper {
      background: linear-gradient(to right, #fff, #fff, $accent-color);
      img {
        display: block;
        opacity: 0.2;
      }
    }

    .carousel-caption{
      padding-left: 15% !important;
      z-index: 0 !important;
      width: 100%;
      height: 100%;
      margin: 0;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
    }
  }

  .main {

  }
}
