<ngb-carousel [interval]="3000" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus">
  <ng-template ngbSlide *ngFor="let img of images; index as i">
    <div class="carousel-caption">
      <h4>{{img.title}}</h4>
      <p>{{img.shortDescription}}</p>
    </div>
    <a href="{{img.img}}" target="_blank" rel="nofollow noopener noreferrer">
      <div class="picsum-img-wrapper">
        <img [src]="img.img" alt="{{img.shortDescription}}">
      </div>
    </a>
  </ng-template>
</ngb-carousel>
<div class="container main">
  <ul class="accordion main-accordion">
    <li class="accordion-item">
      <input type="checkbox" class="accordion-toggle" name="accordion-01" id="toggle-01" hidden>
      <label class="accordion-trigger main-accordion-trigger" for="toggle-01">
        <div class="accordion-title-container">
          <span class="title">Каталог...</span>
        </div>
      </label>
      <div class="accordion-container">
        <ul class="accordion">
          <li class="accordion-item">
            <input type="checkbox" class="accordion-toggle" name="accordion-02" id="toggle2" hidden>
            <label class="accordion-trigger" for="toggle2">
              <div class="accordion-title-container">
                <span class="title">Букеты...</span>
              </div>
            </label>
            <div class="accordion-container">
              <span class="accordion-trigger" [routerLink]="''">Премиум-букеты</span>
              <span class="accordion-trigger" [routerLink]="''">Сборные букеты</span>
              <span class="accordion-trigger" [routerLink]="''">С гвоздиками</span>
            </div>
          </li>
        </ul>
        <ul class="accordion">
          <li class="accordion-item">
            <input type="checkbox" class="accordion-toggle" name="accordion-02" id="toggle3" hidden>
            <label class="accordion-trigger" for="toggle3">Воздушные шарики...</label>
            <div class="accordion-container">
              <span class="accordion-trigger" [routerLink]="''">Название шарика</span>
              <span class="accordion-trigger" [routerLink]="''">Название шарика</span>
              <span class="accordion-trigger" [routerLink]="''">Название шарика</span>
            </div>
          </li>
        </ul>
        <span class="accordion-trigger" [routerLink]="'about-us'">Плюшевые мишки</span>
        <span class="accordion-trigger" [routerLink]="''">Сладости</span>
      </div>
    </li>
  </ul>
  <app-cards-group></app-cards-group>
</div>
