
.upload-file-input {
  display: none;
}

.note-text {
  display: block;
  margin-top: 10px;
  color: gray;
  font-size: small;
}

.preview {
  display: flex;
  flex-wrap: wrap;
  padding: .8rem;
}

.preview-image{
  position: relative;
  margin-bottom: .5rem;
  margin-right: .5rem;
  overflow: hidden;

  &:hover .preview-remove{
    opacity: 1;
  }

  &:hover .preview-info{
    bottom: 0;
  }

  img{
    width: 180px;
    height: auto;
  }

  .preview-remove{
    opacity: 0;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    font-weight: bold;
    background: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: opacity .22s;
  }

  .preview-info{
    position: absolute;
    right: 0;
    bottom: -30px;
    left: 0;
    height: 25px;
    font-size: .8rem;
    background: rgba(255, 255, 255, .5);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    transition: bottom .22s;
  }
}
