.accordion-trigger {
  display: block;
  background-color: $accent-color;
  font-weight: normal;
  color: white;
  cursor: pointer;
  padding: 1.2em;
  margin: 0;
}

/* Компоненты аккордеона */
.accordion {
  margin: 0;
  padding: 0;
  list-style: none;

  .accordion-item {
    border-bottom: 1px solid #5a95fd;
    width: 100%;
  }

  .accordion-item:last-of-type {
    border-bottom: none;
    width: 100%;
  }

  /* Элемент label который запускает открыть/закрыть */


  .title-container{
    width: 100%;

    .col > .icon{
      width: 100%;
    }
  }

  /* эти элементы radio/checkbox всегда должны быть скрыты */
  .accordion-toggle {
    position: absolute;
    display: none;
  }

  .accordion-toggle:checked ~ .icon {
    transform: rotate(90deg) !important;
  }

  /* скрытое содержание аккордеона */
  .accordion-container {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    background-color: #ddd;
    color: #444;
  }

  .main-accordion-trigger{
    background-color: $black-accent-color !important;
  }

  /* когда переключатель checked на radio/checkbox, показать содержимое аккордеона */
  .accordion-toggle:checked ~ .accordion-container {
    position: static;
    overflow: visible;
    clip: auto;
    margin: auto;
    width: auto;
    height: auto;
    /* задержка появления  функция анимации */
    -webkit-animation:fadeIn ease-in 0.5s;
    -moz-animation:fadeIn ease-in 0.5s;
    animation:fadeIn ease-in 0.5s;
  }

  /* анимация при появлении блоков с содержанием */
  @-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
  }

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
  }
}
