@import "colors";

.accordion-trigger {
  display: block;
  background-color: $accent-color;
  border-top: white solid 1px;
  font-weight: normal;
  color: white;
  cursor: pointer;
  padding: 1.2em;
  margin: 0;

  .accordion-title {
    color: white;
  }
}

/* Компоненты аккордеона */
.accordion {
  margin: 0;
  padding: 0;
  list-style: none;
  border-top: white solid 1px;

  .accordion-item {
    border-bottom: 1px solid #5a95fd;
    width: 100%;
  }

  .accordion-item:last-of-type {
    border-bottom: none;
    width: 100%;
  }

  /* Элемент label который запускает открыть/закрыть */
  /* эти элементы radio/checkbox всегда должны быть скрыты */
  .accordion-toggle {
    position: absolute;
    display: none;
  }

  .accordion-title-container {
    position: relative;
  }

  /* скрытое содержание аккордеона */
  .accordion-container {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    background-color: #ddd;
    color: #444;
  }

  .main-accordion-trigger{
    background-color: $black-accent-color !important;
  }

  /* когда переключатель checked на radio/checkbox, показать содержимое аккордеона */
  .accordion-toggle:checked ~ .accordion-container {
    position: static;
    overflow: visible;
    clip: auto;
    margin: auto;
    width: auto;
    height: auto;
    /* задержка появления  функция анимации */
    -webkit-animation:fadeIn ease-in 0.5s;
    -moz-animation:fadeIn ease-in 0.5s;
    animation:fadeIn ease-in 0.5s;
  }

  & .accordion-item .accordion-trigger .accordion-title-container:after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;

    border-top: 2px solid gray;
    border-right: 2px solid gray;

    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 1;

    transform: translateY(-50%) rotate(135deg);
    transition: rotate 1s linear;
  }

  .accordion-toggle:checked ~ & .accordion-item .accordion-trigger .accordion-title-container:after {
    transform: translateY(-50%) rotate(-45deg);
    margin-top: 5px;
  }

  /* анимация при появлении блоков с содержанием */
  @-moz-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
  }

  @-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1 }
  }
}
