/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "colors";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

button[color="accent"]{
  background-color: $accent-color !important;
}

.color-title{
  color: $accent-color;
  font-weight: 700;
  font-style: italic;
  font-size: 20px;
}

.main-title{
  text-align: center;
  font-style: italic;
  font-weight: 700;
  font-size: 25px;
}

.div-left{
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: left;
}

.div-center{
  display: flex;
  justify-content: center;
}

.div-right{
  display: flex;
  justify-content: right;
}

@mixin small-display{
  @media (max-width: 490px){
    @content;
  }
}

@mixin middle-display{
  @media (max-width: 1514px){
    @content;
  }
}

@mixin big-display{
  @media (min-width: 1514px) {
    @content;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
