/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "colors";
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

$small-display-size: 490px;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

button[color="accent"]{
  background-color: $accent-color !important;
  font-size: medium;
}

.color-title{
  font-size: 29px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: .05em;
  color: $accent-color;
  margin: 10px;
}

.main-title{
  color: $black-accent-color;
  font-weight: 500;
  font-size: 30px;
  line-height: 38px;
  letter-spacing: .02em;
  margin: 10px;
}
.spinner-inner {
  width: 100%;
}

.spinner {
  margin: 20px 10px 20px 20px;
}

@media (max-width: $small-display-size){
  .color-title{
    font-size: 22px;
  }

  .main-title{
    font-size: 23px;
  }
}

@mixin small-display{
  @media (max-width: 490px){
    @content;
  }
}

@mixin middle-display{
  @media (max-width: 1514px){
    @content;
  }
}

@mixin big-display{
  @media (min-width: 1514px) {
    @content;
  }
}


